h1 {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-color: chartreuse;
}

a {
    color: cornsilk;
    color: cornsilk;
    text-decoration: underline yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}